<h1>Welcome to a simple Minecraft profile API!</h1>

<h2>APIs:</h2>

<p>GetUUID/?username=(username)</p>
<p>GetSkin/?uuid=(uuid)</p>
<p>GetSkinByUsername/?username=(username)</p>
<p>GetCape/?uuid=(uuid)</p>
<p>GetCapeByUsername/?username=(username)</p>